@use "./var";

.main{
    padding: 0 1.5em;
    max-width: 800px;
    margin: 0 auto 0em;
}


.main > div{
    position: relative;
    background-color: white;
    border: 1px solid rgba(var.$dark-gray, 0.2);
    border-radius: 6px;
    margin-bottom: 1.5em;
}

.main > div:last-child{
    margin-bottom: 0;
}