@use "./var";
@use "./mixin";

.main .stats {
    padding: 2em 1.25em;
    text-align: center;
}

.stats h2{
    font-size: 1.8rem;
}

.stats small{
    display: block;
    margin-top: 0.5em;
    color: var.$dark-gray;
}

.stats__numbers{
    position: relative;
    // border: 1px solid red;
}


.stats__numbers + .stats__numbers{
    margin-top: 2em;
}

.stats__numbers + .stats__numbers::after{
    content: "";
    position: absolute;
    top: -1em;
    left: 50%;
    width: 70px;
    height: 1.0px;
    background-color: rgba(var.$dark-gray, 0.5);
    transform: translateX(-50%);
}

.progress-bar{
    width: 100%;
    height: 12px;
    margin-top: 2em;
    background-color: var.$progress-bar-background-color;
    border-radius: 40px;
}

.progress-bar__filler{
    background-color: var.$moderate-cyan;
    width: 50%;
    height: 100%;
    border-radius: 40px;
}

@include mixin.screenMinWidStyle(var.$first-break-point){
    .main .stats{
        padding: 2em;
        text-align: left;
    }

    .stats__info{
        display: flex;
        gap: 8em;
    }

    .stats__numbers + .stats__numbers{
        margin-top: unset;
    }
    .stats__numbers + .stats__numbers::after{
        width: 1px;
        height: unset;
        top: 0;
        bottom: 0;
        left: 0;
        transform: translateX(-4em);
    }
}